{% extends 'newsletter_app/base.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Клиент</th>
      <th scope="col">Тема</th>
      <th scope="col">Время отправки</th>
      <th scope="col">Периодичность</th>
      <th scope="col">Статус рассылки</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      {% for client in newsletter.client.all %}
        <th scope="row">{{ client }}</th>
      {% endfor %}
      <td>{{ newsletter.message.subject }}</td>
      <td>{{ newsletter.date_start }}</td>
      <td>{{ newsletter.period_send }}</td>
      <td>{{ newsletter.status_send }}</td>
      <td><a class="btn btn-link" href="{% url 'news:update_newsletter' object.pk %}">Редактировать</a></td>
      <td><a class="btn btn-link" href="{% url 'news:delete_newsletter' object.pk %}">Удалить</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}