{% extends 'newsletter_app/base.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Клиент</th>
      <th scope="col">Тема</th>
      <th scope="col">Время отправки</th>
      <th scope="col">Периодичность</th>
      <th scope="col">Статус рассылки</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
   {% for newsletter in newsletter_list %}
    <tr>
      {% for client in newsletter.client.all %}
        <th scope="row">{{ client|default:"нет клиента" }}</th>
      {% endfor %}
      <td><a href="{% url 'news:newsletter_detail' newsletter.pk %}">{{ newsletter.message.subject }}</a></td>
      <td>{{ newsletter.date_start }}</td>
      <td>{{ newsletter.period_send }}</td>
      <td>{{ newsletter.status_send }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}