{% extends 'newsletter_app/base.html' %}
{% block content %}
<table class="table">
  {% for newsletter in newsletter_list %}
  <thead>
    <tr>
      <th scope="col">Клиент</th>
      <th scope="col">Тема</th>
      <th scope="col">Время отправки</th>
      <th scope="col">Периодичность</th>
      <th scope="col">Статус рассылки</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">{{ newsletter.client }}</th>
      <td><a href="{% url 'news:newsletter_detail' newsletter.pk %}">{{ newsletter.subject }}</a></td>
      <td>{{ newsletter.time_send }}</td>
      <td>{{ newsletter.period }}</td>
      <td>{{ newsletter.status }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}