{% extends 'newsletter_app/base.html' %}
{% block content %}

<main>
    <a class="btn btn-outline-primary mb-5" href="https://chrome-dino.com/ru/">Dino</a>
    {% if messages %}
        <div class="alert alert-warning">
            {% for message in messages %}
            {{ message }}<br/>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">Авторизация</div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="m-2 btn btn-success">
                            Войти
                        </button>
                        <a href="{% url 'users:forgot_pass' %}">Пароль забыт?</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}