{% extends 'newsletter_app/base.html' %}
{% block content %}

<main>
    {% if messages %}
        <div class="alert alert-warning">
            {% for message in messages %}
            {{ message }}<br/>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">Регистрация</div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <h6>Для подтверждения регистрации проверте почту!</h6>
                        <button type="submit" class="btn btn-success">
                            Зарегистрироваться
                        </button>
                        <a class="btn btn-outline-warning" href="{% url 'news:index' %}">Отмена</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}